.tab-view {
  font-size: 18px;
}
.tab-view ul {
  display: flex;
  list-style: none;
  padding: 0;
}
.tab {
  font-size: 1em;
  border: none;
  padding: 0.5em;
}
.tab:focus {
  box-shadow: 0 0 0 1px #000;
}
.tab.active-tab {
  background-color: blue;
  color: #fff;
}
.tab-view article {
  box-shadow: 0 0 0 1px #333;
  padding: 1em;
}
