.sliding-puzzle-container {
  display: flex;
  justify-content: center;
}

.sliding-puzzle {
  --border: 0 0 0 1px rgba(0, 0, 0, 0.5);
  --cell-size: 10vw;
  --cell-spacing: 1vw;
  --col-size: 3;
  --row-size: 3;
  --board-width: calc(
    var(--cell-size) * var(--col-size) + (1 + var(--col-size)) *
      var(--cell-spacing)
  );
  --board-height: calc(
    var(--cell-size) * var(--row-size) + (1 + var(--row-size)) *
      var(--cell-spacing)
  );
  --transition-delay: 100ms;
  width: var(--board-width);
  font-size: 4vw;
  margin-bottom: 10vw;
}
h1 {
  border-bottom: 1px solid #000;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}
.sliding-puzzle__board:focus {
  box-shadow: 1vw 3vw 2vw 0 rgb(0 0 0 / 20%), 0 0vw 12vw 0 rgb(0 0 0 / 10%);
  outline: none;
}
.sliding-puzzle__board {
  transition: box-shadow 200ms ease-out;
  box-shadow: var(--border);
  height: var(--board-height);
  width: var(--board-width);
  position: relative;
  margin-bottom: 4vw;
}
.sliding-puzzle__btn-set {
  display: flex;
  justify-content: stretch;
  gap: 1rem;
}
.sliding-puzzle__btn {
  padding: 2vw;
  font-size: 4vw;
  border: 0;
}
.sliding-puzzle__cell[data-value='0'] {
  visibility: hidden;
  z-index: 0;
}
.sliding-puzzle__cell[data-i='0'] {
  --i: 0;
}
.sliding-puzzle__cell[data-i='1'] {
  --i: 1;
}
.sliding-puzzle__cell[data-i='2'] {
  --i: 2;
}
.sliding-puzzle__cell[data-i='3'] {
  --i: 3;
}
.sliding-puzzle__cell[data-i='4'] {
  --i: 4;
}
.sliding-puzzle__cell[data-j='0'] {
  --j: 0;
}
.sliding-puzzle__cell[data-j='1'] {
  --j: 1;
}
.sliding-puzzle__cell[data-j='2'] {
  --j: 2;
}
.sliding-puzzle__cell[data-j='3'] {
  --j: 3;
}
.sliding-puzzle__cell[data-j='4'] {
  --j: 4;
}
.sliding-puzzle__cell {
  transition: top var(--transition-delay) ease-out,
    left var(--transition-delay) ease-out;
  position: absolute;
  width: 10vw;
  height: 10vw;
  box-shadow: var(--border);
  border-radius: 3px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  top: calc(var(--cell-size) * var(--i) + var(--cell-spacing) * (var(--i) + 1));
  left: calc(
    var(--cell-size) * var(--j) + var(--cell-spacing) * (var(--j) + 1)
  );
  z-index: 1;
}
