.main {
  font-size: 4vw;
}
.fieldset {
  box-shadow: 0 0 0 1px #ccc;
  border: 0;
  font-size: max(16px, 2vw);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 1rem;
  gap: 1rem;
  margin-bottom: 2vw;
}
.patternContainer {
  margin: 0;
  padding: 0;
}
.radioCard {
  width: 0;
  height: 0;
  overflow: hidden;
  display: block;
  line-height: 0;
}
.radioCard:checked ~ label {
  background-color: #eaa;
  color: #fff;
  text-shadow: 1px 1px 4px #67595E;
}
.radioCard ~ label {
  transition: 220ms ease-in all;
  border-radius: 5px;
  background-color: #eee;
  padding: 0.5rem;
  display: block;
}
.textInput {
  transition: 220ms ease-in all;
  border: 0;
  font-size: max(35px, 4vw);
  padding: 0.5em;
  width: 100%;
  box-sizing: border-box;
}
.textInput[data-valid='valid'] {
  box-shadow: 0 0 0 5px #2e8bc0 inset;
  color: #2e8bc0;
}
.textInput[data-valid='invalid'] {
  box-shadow: 0 0 0 5px #f652a0 inset;
  color: #f652a0;
}
